@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:gray;
}

header{
    background-color: aliceblue;
    min-width: 350px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

menu{
    background-color: aliceblue;
    min-width: 350px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

main{
    background-color: aliceblue;
    min-width:  350px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

main > div#imagem{
    background-image: url(../photos/jacob-G.jpg);
    
}

